1- reply to my questions in Arabic, with English none translated concepts
2- when your reolies are in arabic, make writing direction right to left
3- when your replies in arabic, align text to the right
4- when I upload pic, if I don't mension, ask me if this picture presents error or estimated design.
