* {
    box-sizing: border-box;
}

.dt-container {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.dt-length {
    display: flex;
    gap: 0 !important;
}

.dt-length select {
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5rem 0 0 0.5rem !important;
    height: 2.5rem !important;
    padding: 0.5rem !important;
}

label[for="dt-length-0"] {
    margin: 0;
    border-radius: 0 0.5rem 0.5rem 0 !important;
    border: 1px solid #aaa;
    height: 2.5rem !important;
    padding: 0.5rem !important;
}

.dt-search {
    display: flex;
    align-items: center;
    gap: 0 !important;
}

.dt-search label {
    margin-right: 0 !important;
}

.dt-search input {
    margin: 0 !important;
    border: 1px solid #aaa;
    border-radius: 0 0.5rem 0.5rem 0 !important;
    height: 2.5rem !important;
}

label[for="dt-search-0"] {
    border-radius: 0.5rem 0 0 0.5rem !important;
    margin: 0;
    border: 1px solid #aaa;
    height: 2.5rem !important;
    padding: 0.5rem !important;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: 0;
    margin-bottom: 0;
}

.dataTables_wrapper .dataTables_length {
    margin-top: 0;
    margin-bottom: 0;
}

div.dt-paging nav {
    display: flex;
}

div.dt-layout-row {
    width: 100%;
}

div.dt-layout-row .dt-layout-start,
div.dt-layout-row .dt-layout-end {
    width: 50%;
}

div.dt-paging nav button.dt-paging-button {
    margin: 0 !important;
    border-radius: 0 !important;
    border: 1px solid #aaa !important;
}

div.dt-paging nav button.dt-paging-button:first-child {
    border-radius: 0.5rem 0 0 0.5rem !important;
}

div.dt-paging nav button.dt-paging-button:last-child {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

div.dt-paging nav button.dt-paging-button + button.dt-paging-button {
    border-left: 0 !important;
}

.dt-container select,
.dt-container select option,
.dt-container label,
.dt-container input,
.dt-container button,
.dt-container tr th,
.dt-container tr td {
    height: 2rem !important;
    padding: 0 0.5rem !important;
    line-height: 1.8rem !important;
}

.dt-container tr td {
    border-bottom: 0.5pt solid #eee !important;
}
.dt-container tr th {
    border-top: 1pt solid #aaa !important;
}
.dt-container tr:last-child td {
    border-bottom: 1pt solid #aaa !important;
}
.dt-container tr:hover td {
    background-color: #e5e5e5;
}
