fieldset {
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    position: relative;
}

fieldset * {
    font-family: "Cairo", sans-serif;
}

legend {
    position: absolute;
    right: 1rem;
    left: auto;
}

/* تخصيص موقع Toastr حسب اتجاه الصفحة */
#toast-container.toast-top-left {
    top: 6rem !important; /* لاظهار التوست أسفل الهيدر ولا تختفى تحته*/
    left: 1rem !important;
    right: auto;
    z-index: 9999;
}

/* تخصيص شكل التوست حسب اتجاه اللغة */
#toast-container .toast {
    direction: rtl;
    padding: 15px 15px 15px 50px;
}

#toast-container .toast-title {
    margin-bottom: 5px;
    font-weight: bold;
}

/* تعديل موضع الأيقونة حسب اتجاه اللغة */
#toast-container > div {
    padding: 10px 50px 10px 15px !important;
    background-position: right 15px center !important;
}

#toast-container {
    z-index: 9999;
}

/* Form Inputs Styles */
form .input-group > input.form-control,
form .input-group > select.form-control,
form .input-group > select.form-control option,
form .input-group > select.form-select option,
form .input-group > button.form-select,
form .input-group > button.input-group-text,
form .input-group > label.input-group-text,
form .input-group > span.input-group-text,
form .button-group > button,
form .button-group > a {
    height: 36px !important;
}
form .input-group .input-group-text,
form .input-group .form-control {
    border-radius: 0;
}
form .input-group .input-group-text:first-child,
form .input-group .form-control:first-child {
    border-bottom-right-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}
form .input-group .input-group-text:last-child,
form .input-group .form-control:last-child {
    border-bottom-left-radius: 0.5rem !important;
    border-top-left-radius: 0.5rem !important;
}
